{% extends 'base.html' %}

{% set page_title = 'Payment' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('payment.static', filename='css/payment.css') }}"/>
{% endblock %}

{% block page_main %}
    <h1>Payment</h1>
  <div class="Main">
    <form id="payForm" action="" method="Get">
      <div class="row">
        <label for="creditCard">Credit Card Number:</label>
        <input type="text" name="CreditCard" id="creditCard" required>
      </div>
      <div class="row">
        <label for="expMonth">Exp. Month:</label>
        <select name="Exp." id="expMonth" required>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <label for="expYear">Exp. Year:</label>
        <select name="Exp." id="expYear" required>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
        </select>
      </div>
      <div class="row">
        <label for="cvv">CVV:</label>
        <input type="text" name="CVV" id="cvv" required>
      </div>
      <div class="row">
        <label for="Id">ID:</label>
        <input type="text" name="ID" id="Id" required>
      </div>
      <div class="row">
        <label for="deliveryAddress">Delivery Address:</label>
        <input type="text" name="DeliveryAddress" id="deliveryAddress" required>
      </div>
      <div id="msg"></div>
      <input id="payBtn" type="submit" value="Pay">
    </form>
  </div>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('payment.static', filename='js/payment.js') }}"></script>
{% endblock %}
