body{
  background-color: #DDD6C8;
  font-family: "Bradley Hand", cursive;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 200%;
  margin-top: 50px;
}

.Details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
